.hello {
	text-decoration: underline;
}

.body {
	display: none;
}

.btn {
	margin-top: 20px;
	margin-right: 15px;
}

.guardComment {
	height: 92px;
	width: 500px;
}

#formdiv {
	margin-left: 60px;
}

#leftpanel {
	float: left;
}

.rightpanel {
	margin-left:50px;
	float: left;
}

#commentpanel {
	clear: both;
}

#commentpanel textarea {
	width: 90%;
}

#buttonspanel {
	clear: both;
}

#listingtable td {
	padding:15px;
}


#listingtable th {
	padding-right: 15px; 
}

#hor-minimalist-b
{
	margin: 45px;
	width: 480px;
	border-collapse: collapse;
	text-align: left;
}
#hor-minimalist-b th
{
	font-weight: normal;
	padding: 10px 8px;
}
#hor-minimalist-b td
{
	padding: 6px 8px;
}
#hor-minimalist-b a
{
	padding: 6px 8px;
}
